.footer-container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    background-color: #340c20cc;
    display: flex;
    padding: 40px;
    column-gap: 66px;
}
.map{
    width: 494px;
    height: 338px;
    border-radius: 10px;
}
.iconDIV{
    display: flex;
    width: 288px;
    height: 48px;
    column-gap: 72px;
    margin-bottom: 72px;
   
}
.rightDIV{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
font-family: "Poppins", sans-serif;
font-weight: 700;
font-size: 32px;
line-height: 40px;
letter-spacing: 4px;
color: #FFFFFF;
text-align: center;
margin-bottom: 80px;
}
h2:hover{
    color: #0b2002;
   text-shadow: 2px 4px 2px #d65bd0b5;
}
.smallp{
font-family: "Poppins", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 26px;
letter-spacing: 0px;
width: 248px;
height: 48px;
border-radius: 1px;
}
p{
font-family: "Abel", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 26px;
letter-spacing: 0px;
vertical-align: middle;
color: white;
margin-top: 40px; 
margin-bottom: 9px;
}
button{
    width: 520px;
    height: 64px;
    border-radius: 16px;
    background-color: #3d1f3c;
    margin-top: 40px;
    color: #FFFFFF;
font-family: "Poppins", sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 26px;
letter-spacing: 0px;
border: none;
}
button:hover{
    border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px red;
}
.smalldiv {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    border: 2px white solid;
    background-color: #F30AEA;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fa-solid{
    width: 24px;
    height: 24px;
    color: white;
}
.fa-solid:hover{
     border: 1px solid;
  padding: 4px;
  box-shadow: 1px 2px 3px red;
}